@model IEnumerable<MvcProjesi.ServiceReference1.Member>

@{
    ViewBag.Title = "FollowerMember";
}
<link href="~/Css/Profil.css" rel="stylesheet" />
<h2>Follower Of Member</h2>
<hr />
@{
    foreach (var item in Model)
    {
        <ul class="style1">
            <li class="first">
                <p class="date"><i style="color:#F08080;">@Html.DisplayFor(i => item.Name)</i></p>
                <h3><a href="#"><b>@Html.DisplayFor(i => item.UserName)</b></a></h3>
            </li>
        </ul>
        <hr />
    }

}